/* line 56, ../sass/variables/_colors.scss */
.hover-green {
  background-color: #3bbab5; }
  /* line 26, ../sass/variables/_colors.scss */
  .hover-green:hover {
    background-color: #33958f; }

/* line 60, ../sass/variables/_colors.scss */
.hover-blue {
  background-color: #9dbfe9; }
  /* line 26, ../sass/variables/_colors.scss */
  .hover-blue:hover {
    background-color: #7ea3d0; }

/* line 64, ../sass/variables/_colors.scss */
.hover-purple {
  background-color: #c1b0f5; }
  /* line 26, ../sass/variables/_colors.scss */
  .hover-purple:hover {
    background-color: #977ee3; }

/* line 67, ../sass/variables/_colors.scss */
.hover-brown {
  background-color: #8a68b2; }
  /* line 26, ../sass/variables/_colors.scss */
  .hover-brown:hover {
    background-color: #71549e; }

/* line 70, ../sass/variables/_colors.scss */
.hover-grey {
  background-color: #c2c2c2; }
  /* line 26, ../sass/variables/_colors.scss */
  .hover-grey:hover {
    background-color: #A5A5A5; }

/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 41, ../sass/referral.styles.scss */
body {
  background-color: #ffffff;
  font-family: raleway,sans-serif; }

/* line 45, ../sass/referral.styles.scss */
a {
  font-weight: bold;
  color: #33958f;
  text-decoration: none; }
  /* line 49, ../sass/referral.styles.scss */
  a:hover {
    color: #818181; }

/* line 53, ../sass/referral.styles.scss */
textarea, input, select {
  background-color: #e5e5e5;
  border: 0 solid transparent;
  color: #383838;
  font: 16px/1.2em raleway,sans-serif; }

/* line 60, ../sass/referral.styles.scss */
#page-wrapper #headerbar {
  background-color: #dddddd;
  height: 78px;
  width: 100%;
  margin: 6% 0 0; }
/* line 66, ../sass/referral.styles.scss */
#page-wrapper #page {
  width: 980px;
  margin: 0 auto; }
  /* line 69, ../sass/referral.styles.scss */
  #page-wrapper #page #header {
    margin: -7.5% auto;
    width: 980px;
    height: 100px; }
    /* line 73, ../sass/referral.styles.scss */
    #page-wrapper #page #header .section {
      margin: -3% 9%;
      width: 82%; }
      /* line 76, ../sass/referral.styles.scss */
      #page-wrapper #page #header .section .logo {
        float: left;
        width: 11%; }
      /* line 80, ../sass/referral.styles.scss */
      #page-wrapper #page #header .section #name-and-slogan {
        margin: auto;
        padding-top: 4%; }
        /* line 84, ../sass/referral.styles.scss */
        #page-wrapper #page #header .section #name-and-slogan #site-name a {
          color: #33958f; }
  /* line 91, ../sass/referral.styles.scss */
  #page-wrapper #page #navigation {
    margin: -4.7% 40%;
    width: 63%; }
    /* line 96, ../sass/referral.styles.scss */
    #page-wrapper #page #navigation .section #main-menu li {
      width: 17% !important; }
      /* line 98, ../sass/referral.styles.scss */
      #page-wrapper #page #navigation .section #main-menu li a {
        color: #3bbab5; }
      /* line 101, ../sass/referral.styles.scss */
      #page-wrapper #page #navigation .section #main-menu li .active {
        color: #3bbab5;
        text-decoration: none; }
  /* line 109, ../sass/referral.styles.scss */
  #page-wrapper #page #breadcrumb {
    display: none; }
  /* line 112, ../sass/referral.styles.scss */
  #page-wrapper #page #main-wrapper {
    width: 980px;
    margin: 6% auto auto; }
    /* line 116, ../sass/referral.styles.scss */
    #page-wrapper #page #main-wrapper #main #content {
      color: #383838;
      font-size: 11pt; }
      /* line 119, ../sass/referral.styles.scss */
      #page-wrapper #page #main-wrapper #main #content .section1 {
        float: left;
        height: 378px;
        margin: 5%;
        width: 42%;
        border-radius: 50%;
        background-color: #3bbab5;
        border: 0 solid #3bbab5; }
        /* line 127, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section1 .rupees {
          margin: -3%;
          width: 100%; }
      /* line 132, ../sass/referral.styles.scss */
      #page-wrapper #page #main-wrapper #main #content .section2 {
        width: 46%;
        height: 477px;
        overflow: hidden; }
        /* line 136, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 span {
          font-size: 36px;
          color: #818181; }
          /* line 139, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 span h1, #page-wrapper #page #main-wrapper #main #content .section2 span h2, #page-wrapper #page #main-wrapper #main #content .section2 span h3, #page-wrapper #page #main-wrapper #main #content .section2 span h4, #page-wrapper #page #main-wrapper #main #content .section2 span h5 {
            margin: 0; }
        /* line 143, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 .round1 {
          border: 4px solid #ea944a;
          border-radius: 54%;
          height: 27%;
          width: 29%;
          float: left;
          margin: 8% 2%; }
          /* line 150, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 .round1 span {
            font-weight: normal;
            font-size: 9pt;
            display: inline-block;
            margin-left: 30%;
            margin-top: 39%; }
          /* line 157, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 .round1 a {
            color: #818181; }
            /* line 159, ../sass/referral.styles.scss */
            #page-wrapper #page #main-wrapper #main #content .section2 .round1 a:hover {
              color: #33958f !important; }
        /* line 164, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 .round2 {
          border: 4px solid #F4A631;
          border-radius: 54%;
          height: 27%;
          width: 29%;
          float: left;
          margin: 8% 2%; }
          /* line 171, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 .round2 span {
            font-weight: normal;
            font-size: 9pt;
            display: inline-block;
            margin-left: 30%;
            margin-top: 39%; }
          /* line 178, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 .round2 a {
            color: #818181; }
            /* line 180, ../sass/referral.styles.scss */
            #page-wrapper #page #main-wrapper #main #content .section2 .round2 a:hover {
              color: #33958f !important; }
        /* line 185, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 .round3 {
          border: 4px solid #F8D033;
          border-radius: 54%;
          height: 27%;
          width: 29%;
          float: left;
          margin: 8% 2%; }
          /* line 192, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 .round3 span {
            font-weight: normal;
            font-size: 9pt;
            display: inline-block;
            margin-left: 30%;
            margin-top: 39%; }
          /* line 199, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 .round3 a {
            color: #818181; }
            /* line 201, ../sass/referral.styles.scss */
            #page-wrapper #page #main-wrapper #main #content .section2 .round3 a:hover {
              color: #33958f !important; }
        /* line 206, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 .round1-pencil {
          width: 56px;
          margin: -74% 1%; }
        /* line 210, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 .round2-aboutus {
          margin: -74% 1%;
          width: 56px;
          left: 66%; }
        /* line 215, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 .round3-contact {
          margin: -74% 1%;
          width: 56px;
          left: 77%; }
        /* line 220, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content .section2 .content-text {
          font-size: 23px;
          color: #818181; }
          /* line 223, ../sass/referral.styles.scss */
          #page-wrapper #page #main-wrapper #main #content .section2 .content-text .content-orange {
            color: #EA944A;
            margin-top: 2%; }
      /* line 229, ../sass/referral.styles.scss */
      #page-wrapper #page #main-wrapper #main #content #referral-node-form {
        margin: auto;
        padding: 3%;
        width: 65%; }
        /* line 234, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content #referral-node-form .form-item label {
          font-size: 1em;
          color: #222;
          float: left;
          width: 120px; }
        /* line 240, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content #referral-node-form .form-item .form-textarea-wrapper textarea {
          width: 78% !important; }
        /* line 243, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content #referral-node-form .form-item .grippie {
          display: none; }
        /* line 247, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content #referral-node-form #edit-actions {
          margin: auto;
          width: 57%; }
        /* line 251, ../sass/referral.styles.scss */
        #page-wrapper #page #main-wrapper #main #content #referral-node-form .form-submit {
          background: #f8d033 none repeat scroll 0 0;
          border: 0 none;
          color: #fefdfd;
          font-size: 21px;
          height: 32px;
          width: 30%; }
  /* line 263, ../sass/referral.styles.scss */
  #page-wrapper #page #footer {
    background-color: #3bbab5;
    right: 0;
    bottom: auto;
    height: 166px;
    left: 0;
    position: absolute;
    width: 100%; }
    /* line 271, ../sass/referral.styles.scss */
    #page-wrapper #page #footer .section {
      height: 166px;
      margin: auto;
      width: 980px; }
      /* line 275, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .call {
        border: 4px solid #F8D033;
        background-color: #F8D033;
        border-radius: 54%;
        height: 27%;
        width: 5%;
        float: left;
        margin: 6% 9%; }
      /* line 284, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .contact {
        border: 4px solid #F8D033;
        background-color: #F8D033;
        border-radius: 54%;
        height: 27%;
        width: 5%;
        float: left;
        margin: 6% 7%; }
      /* line 293, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .followme {
        border: 4px solid #F8D033;
        background-color: #F8D033;
        border-radius: 54%;
        height: 27%;
        width: 5%;
        float: left;
        margin: 6% 11%; }
      /* line 302, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .copyright {
        border: 4px solid #F8D033;
        background-color: #F8D033;
        border-radius: 54%;
        height: 27%;
        width: 5%;
        float: left;
        margin: 6% 4%; }
      /* line 311, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .call-icon {
        margin: -16% -22%;
        width: 35px; }
      /* line 315, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .contact-icon {
        margin: -16% -22%;
        width: 35px; }
      /* line 319, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .followme-icon {
        margin: -16% -22%;
        width: 35px; }
      /* line 323, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .copyright-icon {
        margin: -16% -22%;
        width: 35px; }
      /* line 327, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .call-text {
        margin: -73% 122%;
        width: 100px;
        color: #e5e5e5; }
        /* line 331, ../sass/referral.styles.scss */
        #page-wrapper #page #footer .section .call-text p {
          margin: 0;
          font-size: 13px; }
          /* line 334, ../sass/referral.styles.scss */
          #page-wrapper #page #footer .section .call-text p .title {
            font-weight: bold;
            font-size: 15px; }
      /* line 340, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .contact-text {
        margin: -73% 122%;
        width: 100px;
        color: #e5e5e5; }
        /* line 344, ../sass/referral.styles.scss */
        #page-wrapper #page #footer .section .contact-text p {
          margin: 0;
          font-size: 13px; }
          /* line 347, ../sass/referral.styles.scss */
          #page-wrapper #page #footer .section .contact-text p .title {
            font-weight: bold;
            font-size: 15px; }
      /* line 353, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .followme-text {
        margin: -73% 122%;
        width: 100px;
        color: #e5e5e5; }
        /* line 357, ../sass/referral.styles.scss */
        #page-wrapper #page #footer .section .followme-text p {
          margin: 0;
          font-size: 13px; }
          /* line 360, ../sass/referral.styles.scss */
          #page-wrapper #page #footer .section .followme-text p .title {
            font-weight: bold;
            font-size: 15px; }
      /* line 366, ../sass/referral.styles.scss */
      #page-wrapper #page #footer .section .copyright-text {
        margin: -73% 122%;
        width: 150px;
        color: #e5e5e5; }
        /* line 370, ../sass/referral.styles.scss */
        #page-wrapper #page #footer .section .copyright-text p {
          margin: 0;
          font-size: 13px; }
  /* line 377, ../sass/referral.styles.scss */
  #page-wrapper #page .messages--error, #page-wrapper #page .messages--status {
    margin-top: 4%; }
